ion-avatar ion-img {
  width: 4rem;
  height: 4rem;
}

* {
  font-family: regular;
}

li {
  list-style: none;
}

body {
  background: #fdfaff;
}
.navbar {
  top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 3rem;
  background: white;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.nav-links li {
  list-style: none;
}
.nav-btn {
  width: 189px;
  height: 45px;
  border-radius: 10px;
  background: #30157a;
  color: white;
}
.menu {
  display: none;
}
.menu-box {
  display: grid;
  padding: 1rem 1rem;
}
.body {
  position: relative;
  top: 0;
  width: 100%;
  height: 250%;
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
  background: #fdfaff;
}
.background-details {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.body-text h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #324054;
}
.body-text p {
  font-size: 1rem;
  color: #000000;
}
.body-text-wrapper {
  position: relative;
  top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.customer-side {
  color: #552bcc;
}
.profile-image {
  width: 2rem;
  height: 2rem;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.background-image {
  position: relative;
}

.woman-background {
  width: 419px;
  height: 378px;
}
.top-img {
  position: relative;
  top: -25rem;
  left: -11rem;
  transform: scale(259deg);
}
.bottom-img {
  position: relative;
  top: -25rem;
  left: -8.9rem;
  transform: scale(-30deg);
}
.bottom-arrow-img {
  width: 0.2rem;
  height: 1rem;
}
.text-stuff {
  padding-top: 0.3rem;
  display: grid;
  place-items: left;
  gap: 0.4rem;
  font-size: 0.6rem;
}
.text-stuff p {
  font-size: 0.6rem;
}
.user {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 1rem;
  width: 100%;
}
.users-text {
  padding-top: 1rem;
}
.card {
  padding: 1rem 1rem;
}
.card-btns {
  display: flex;
  gap: 1rem;
}
.card-btn {
  background: #f5f1ff;
}

.message-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  width: 98px;
  background: #e5dcff;
  border-radius: 50%;
}
.message-img {
  width: 50px;
  height: 50px;
}
.message-text {
  font-style: Montserrat Alternates;
  font-size: 40px;
  font-weight: 600;
  color: #552bcc;
}

.content-1-text h2 {
  font-weight: 600;
  font-size: 1.5rem;
}
.we-care-btn {
  padding: 1rem 3rem;
  background: #30157a;
  border-radius: 10px;
  color: white;
}
.arrow-image {
  position: relative;
  top: 20rem;
}
.top-arrow-img {
  position: absolute;
  top: 100px;
  left: 350px;
  width: 250.6px;
  height: 4rem;
  transform: rotate(179deg);
}
.bottom-arrow-img {
  position: absolute;
  top: 268px;
  left: 347px;
  width: 10.2rem;
  height: 4rem;
  transform: rotate(-3.82deg);
}
.content-wrapper {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 1rem;
  gap: 2rem;
}
.content-1 {
  position: relative;
  width: 92%;
  display: grid;
  place-items: center;
  margin: 1rem auto;

  background-color: #fff7f1;
  border-radius: 15px;
}
.content-2 {
  position: relative;
  width: 92%;

  background-color: #f1f5ff;
  border-radius: 15px;
  margin: 1rem auto;
}
.content-3 {
  position: relative;
  width: 92%;

  border-radius: 15px;
  background-color: #fbf1ff;
  margin: 1rem auto;
}

.grid-text {
  position: relative;
}
.price-text h2 {
  position: absolute;
  bottom: 1rem;
  left: 10%;
}
.pricing {
  display: flex;
  padding: 3rem 3rem;
  gap: 2rem;
  color: white;
}
.price-image {
  width: 100%;
  height: 280px;
}
.prices-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.grid-header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #552bcc;
}
.footer {
  background-color: #30157a;
  padding: 1rem 5rem;
  padding-top: 4rem;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
}
.footer-wrapper ul li {
  list-style: none;
}
.footer-searchbar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  color: black;
  height: 3rem;
  width: 15rem;
}

.footer-icon {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 1rem;
  background: #5f39c7;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.footer-searchbar:focus {
  outline: none;
}

h4,
h5 {
  color: rgb(224, 224, 224);
}

/* .footers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: centerfoo;
  gap: 2rem;
  padding: 5rem 7rem;
}
.footers ul li {
  list-style: none;
  color: #ffff;
  padding-top: 1rem;
}

.copyright-main {
  display: flex;
  width: 100%;
}
.data {
  width: 100%;
  display: flex;
  gap: 1rem;
  border: 2px solid red;
} */

@media screen and (max-width: 950px) {
  .nav-items {
    display: none;
  }
  .nav-image {
    position: absolute;
    right: 2rem;
    top: 0.4rem;
  }
  ion-avatar ion-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .nav-btn {
    display: none;
  }
  .background-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top-img,
  .bottom-img {
    display: none;
  }
  .card-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    gap: 2rem;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: left;
    color: white;
  }
  .footer {
    background-color: #30157a;
    padding: 1rem 2rem;
    padding-top: 2rem;
  }
  .footer-searchbar {
    width: 12rem;
  }
}
@media screen and (max-width: 949px) {
  .menu {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .message {
    font-size: 0.5rem;
  }
  .message-text {
    font-size: 30px;
  }
  .message-img {
    width: 30px;
    height: 30px;
  }
  .message-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: #e5dcff;
    border-radius: 50%;
  }
  .pricing {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    gap: 2rem;
    color: white;
  }
  .prices-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: none;
    place-items: center;
  }
  .users-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .message {
    font-size: 0.5rem;
  }
  .message-text {
    font-size: 14px;
  }
  .message-img {
    width: 20px;
    height: 20px;
  }
  .message-avatar {
    height: 40px;
    width: 40px;

    border-radius: 50%;
  }
  .prices-grid {
    display: grid;
    grid-template-columns: none;
    gap: 1rem;
  }
  .card-btns {
    grid-template-columns: none;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: none;
    place-items: left;
    color: white;
  }
  .socials {
    display: none;
  }
  .footer-searchbar {
    width: 12rem;
  }
}

@font-face {
  font-family: "regular";
  src: url("/FONTS/Montserrat/Montserrat-Light.ttf");
}
